.newEntryModal{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 400;
    

    .content{
        align-items: flex-start;
        background-color: #ffffff;
        width: 70vw;
        height: 80vh;
        border-radius: 15px;
        padding: 2vw;

        .addPar{
            color:#707070;
            
            border-radius: 50%;
            
        }
    
        .addPar:hover{
            
            border-radius: 50%;
            background-color: #F5F5F5;
        }

        .select{
            align-items: center;   
            display: flex;
            justify-content: center;
            text-align: center; 
            top: 5vh;
            flex-direction: column;
            justify-content: space-between;
        }
    
        .upload{
            position: absolute;
            bottom: 20px;
            background-color: #ccc;
            color: #fff; 
            padding: 10px 20px; 
            border: none; 
            border-radius: 5px; 
            cursor: pointer; 
            font-size: 16px;
            transition: transform 0.3s ease;
        }

        .upload:hover{
            background-color: #ddd;
            transition-delay: 0.2s;
            transform: scale(1.2);
        }

    
        .inputArticle{
            height:30vh;
            overflow-y: auto;
            input{
                width:66vw;
            }
        }
    }
    
}

