.newEntryModal{
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 400;
    

    .content{
        align-items: flex-start;
        background-color: #ffffff;
        width: 70vw;
        height: 80vh;
        border-radius: 15px;
        padding: 2vw;
    
        .select{
            align-items: center;   
            display: flex;
            justify-content: center;
            text-align: center; 
            top: 5vh;
            flex-direction: column;
            justify-content: space-between;
        }
    
        .upload{
            position: absolute;
            bottom: 20px;
                
        }
    
        .inputArticle{
            height:30vh;
            overflow-y: auto;
            input{
                width:66vw;
            }
        }
    }
    
}

