.article{
  opacity: 0; /* Start with opacity 0 */
  animation: fadeInAnimation 1s ease forwards; 

  .home {
    transition: transform 0.3s ease;
  }
  .home:hover {
    transition-delay: 0.2s;
    transform: scale(1.2);
  }
  .comments{
    background-color: #bbb;
    top:0;
    .sendComment{
        margin: 1vw;
        padding: 1vw;
        border-radius: 15px;
        background-color: #aaa;
        .send-icon {
          transition: transform 0.3s ease;
        }
        .send-icon:hover {
          transition-delay: 0.2s;
          transform: scale(1.5);
        }
    }
    .comment{
        background-color: #fff;
        margin: 1vw;
        border-radius: 15px;
        padding: 5px;
        p{
            padding: 5px;
        }
    }
}
}

@keyframes fadeInAnimation {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

/*scrollbar*/

::-webkit-scrollbar {
    width: 10px; 
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 5px; 
  }