.App {
  background-color: #f9f9f9;
  width: 100%;
  overflow-y: auto; /* Enable vertical scrolling for the entire page */
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0; /* Start with opacity 0 */
  animation: fadeInAnimation 1s ease forwards; 
  .screen {
    flex-direction: column;
    height: 100%; /* Take up the full height of the page */
  }
  
  .upper-half {
    height: 70vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
  
  .lower-half {
    height:100%;
    .presentation{
      display: flex;
      background: linear-gradient(180deg, #2382ff, #aa00ff);

      .text {
        flex: 5 !important; 
        padding: 10vw;
        justify-content: center; 
        display: flex;
        flex-direction: column;
        align-items: center; 
        color:white;
        
        p{
          text-align:justify;
          font-weight: bold;
          font-family: system-ui;
        }
        h2{
          text-align: center;
          font-size: 2rem;
          padding: 1vw;
        }
      }
      
      .image {
        justify-content: center; 
        align-items: center; 
        display: flex;
        flex:5 !important;
        text-align: center;
        padding: 20px;
      }
      
      .image img {
        border-radius: 50%; /* Make the image round */
        width:25vw;
        height: 25vw;
      }
    }
  }

  .add{
    transition: transform 0.3s ease;
  }
  .add:hover{
    transition-delay: 0.2s;
    transform: scale(1.2);
  }
}


@keyframes fadeInAnimation {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

@media (max-width: 1000px){
  .App {    
    .lower-half {
      .presentation{
        display: block;
      }    
    }    
  }
}