.password{
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 100vw;
    overflow: hidden;
    height:100vh;
    background: linear-gradient(135deg, #2382ff, #00ffff);;

    .modal{
        text-align: center;
        display: flex;
        flex-direction: column; /* Stack elements vertically */
        justify-content: center; /* Center items horizontally */
        align-items: center;
        gap: 3vh; 

        .submit {
            padding: 8px 16px;
            background-color: #2f6e82;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
            
        .submit:hover {
            background-color: #4c8da1;
        }
        .mdp {
            background-color: rgba(0,0,0,0);
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            border: 2px solid #ffffff;
            border-radius: 4px;
            color: '#fff';
            caret-color: white;
            font-size: large;
            color:#fff;
        }

        .mdp::placeholder {
            color: #fff;
            opacity: 1; /* Firefox */
          }
          
        .mdp::-ms-input-placeholder { /* Edge 12 -18 */
            color: #fff;
        }



    }

}


